@model ICollection<FPTBookStore.Models.Category>

<div class="container-fluid col-md-10 text-center ">
    <h1>Category</h1>
    <table class="table-borderless">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Name</td>
                <td>@c.Description</td>
                <td>
                    <a class="btn-outline-info" asp-action="Detail" asp-route-id="@c.Id">Detail</a>
                    <a class="btn-outline-warning" asp-action="Edit" asp-route-id="@c.Id">Edit</a>
                    <a class="btn-outline-danger" asp-action="Delete" asp-route-id="@c.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>