@model ICollection<FPTBookStore.Models.Book>

<div class="row">
    <div class="col-md-8 offset-md-2">
            <h5 class="text-secondary">Total Books: @ViewData["total"]</h5>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Id</th>
                    <th>AuthorId</th>
                    <th>CategoryId</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Published Date</th>
                    <th>Price</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("StoreOwner"))
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
               {
                   <tr class="text-center">
                       <td class="align-middle">@b.Id</td>
                       <td class="align-middle">@b.AuthorId</td>
                       <td class="align-middle">@b.CategoryId</td>
                       <td class="align-middle">@b.Title</td>
                       <td class="align-middle">@b.Description</td>
                       <td class="align-middle">@b.Image</td>
                       <td class="align-middle">@b.PublishedDate</td>
                       <td class="align-middle">@b.Price</td>
                            <td class="align-middle">
                                <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@b.Id"><i class="bi bi-eye"></i>Detail</a>
                                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@b.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@b.Id"><i class="bi bi-trash"></i>Delete</a>
                            </td>
                       
                    </tr>
               }   
            </tbody>
        </table>     
        <div style="text-align:center">
             <a class="btn btn-outline-success" style="text-align:center" asp-action="Create">Add New Book</a>
        </div>
    </div>
</div>